<layout name = "layout" />
    <div id="tabbody-div">
        <form action="__SELF__" method="post" enctype="multipart/form-data">
            <!--通用信息-->
            <table width="90%"  class = "tab_table" align="center">
                <tr>  
                    <td class="label">上级分类：</td>
                    <td>
                        <select name="parent_id">
                    	<option value="0">顶级分类</option>
                    	<?php foreach ($catData as $k => $v): ?>
                    	<option value="<?php echo $v['id']; ?>"><?php echo str_repeat('-', 8*$v['level']) . $v['cat_name']; ?></option>
                    	<?php endforeach; ?>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品分类：</td>
                    <td>
                        <input type = "text" size = 60 name = "cat_name" />
                    </td>
                </tr>
                <tr>
                    <td class="label">推荐楼层：</td>
                    <td>
                        <input type="radio" name="is_floor" value="是" checked="checked" /> 是
                        <input type="radio" name="is_floor" value="否" /> 否
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>
    